<footer>
    <nav>
        <a href="mailto:guirdo@proton.me">Contacto</a>
        
        <a href="https://tech.guirdo.xyz/index.xml" target="_blank">RSS</a>

        <a href="https://www.github.com/guirdo" target="_blank">Github</a>

    </nav>

</footer>

<style>
    footer {
        padding: var(--s-xxs);
    }

    nav {
        display: flex;
        justify-content: space-evenly;
    }
</style>